@font-face {
  font-family: 'avenirlt35light';
  src: url("../fonts/avenirlt35light.eot");
  src: url("../fonts/avenirlt35light.eot") format("embedded-opentype"), url("../fonts/avenirlt35light.woff2") format("woff2"), url("../fonts/avenirlt35light.woff") format("woff"), url("../fonts/avenirlt35light.ttf") format("truetype"), url("../fonts/avenirlt35light.svg#avenirlt35light") format("svg"); }
@font-face {
  font-family: 'Avenir95Black';
  src: url("../fonts/Avenir95Black.eot");
  src: url("../fonts/Avenir95Black.eot") format("embedded-opentype"), url("../fonts/Avenir95Black.woff2") format("woff2"), url("../fonts/Avenir95Black.woff") format("woff"), url("../fonts/Avenir95Black.ttf") format("truetype"), url("../fonts/Avenir95Black.svg#Avenir95Black") format("svg"); }
@font-face {
  font-family: 'avenirltstdheavywebfont';
  src: url("../fonts/avenirltstdheavywebfont.eot");
  src: url("../fonts/avenirltstdheavywebfont.eot") format("embedded-opentype"), url("../fonts/avenirltstdheavywebfont.woff2") format("woff2"), url("../fonts/avenirltstdheavywebfont.woff") format("woff"), url("../fonts/avenirltstdheavywebfont.ttf") format("truetype"), url("../fonts/avenirltstdheavywebfont.svg#avenirltstdheavywebfont") format("svg"); }
@font-face {
  font-family: 'AvenirLTStdRoman';
  src: url("../fonts/AvenirLTStdRoman.eot");
  src: url("../fonts/AvenirLTStdRoman.eot") format("embedded-opentype"), url("../fonts/AvenirLTStdRoman.woff2") format("woff2"), url("../fonts/AvenirLTStdRoman.woff") format("woff"), url("../fonts/AvenirLTStdRoman.ttf") format("truetype"), url("../fonts/AvenirLTStdRoman.svg#AvenirLTStdRoman") format("svg"); }
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0px; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "AvenirLTStdRoman";
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #a7a8a9;
  -webkit-text-size-adjust: 100%; }

#wrapper {
  min-height: 100%;
  /*position:relative;*/
  background: #fff; }

section {
  width: 100%;
  height: auto;
  padding-bottom: 160px;
  position: relative;
  display: inline-block; }

#home {
  padding-bottom: 0px; }

.container {
  max-width: 1288px;
  margin: 0 auto; }

.banner {
  width: 100%;
  max-height: 683px;
  font-family: "Avenir95Black";
  position: relative;
  padding-bottom: 16%;
  text-align: center; }
  .banner .logo {
    display: inline-block;
    margin: 50px 0 50px 0; }
  .banner .banner_content {
    width: 61%;
    margin-left: 27%;
    text-align: left;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    /*margin-bottom:13.177%;
    padding-bottom:13.177%;*/ }
    .banner .banner_content .banner_title {
      font-size: 86px;
      line-height: 86px;
      margin-bottom: 10px;
      display: inline-block; }
    .banner .banner_content p {
      font-family: "AvenirLTStdRoman"; }
    .banner .banner_content a {
      text-decoration: underline;
      color: #fff; }

.banner {
  background-size: cover !important; }

.top_block {
  width: 344px;
  position: absolute;
  top: 0px;
  right: 0px; }
  .top_block .pdf-down {
    width: 82px;
    height: 82px;
    padding-top: 46px;
    background: url(../images/pdf_down_icon.png) center 5px no-repeat;
    font-size: 10px;
    font-family: "avenirltstdheavywebfont";
    text-transform: uppercase;
    float: right;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 12px;
    background-color: #a7a8a9;
    z-index: 100;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .top_block .pdf-down:hover {
      color: #e40003; }
  .top_block .menu_icon {
    width: 82px;
    height: 82px;
    padding: 57px 11px 11px 11px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    background: url(../images/menu_icon.png) center 12px no-repeat;
    background-color: #a7a8a9;
    float: right;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    z-index: 100;
    position: relative; }
  .top_block .dropblock {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none; }
    .top_block .dropblock .graymenubox {
      width: 100%;
      height: 96px;
      background-color: #a7a8a9;
      float: left; }
    .top_block .dropblock .nav {
      width: 100%;
      float: left;
      padding: 18px;
      background-color: #fff; }
      .top_block .dropblock .nav ul {
        padding: 0px;
        margin: 0px; }
        .top_block .dropblock .nav ul .out-link a {
          color: #31b8e4;
          -webkit-transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s; }
          .top_block .dropblock .nav ul .out-link a:hover {
            color: #a7a8a9; }
        .top_block .dropblock .nav ul li {
          width: 100%;
          line-height: 34px;
          font-size: 20px;
          font-family: "Avenir95Black";
          list-style: none;
          text-align: left; }
          .top_block .dropblock .nav ul li a {
            color: #a7a8a9;
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out 0s;
            -moz-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s; }
            .top_block .dropblock .nav ul li a:hover {
              color: #31b8e4; }

.down_arr {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -46px; }

.h_line {
  margin-top: 11px;
  padding-bottom: 22px;
  border-top: solid 1px #737373; }

.profile_block {
  width: 100%;
  padding-bottom: 20px;
  float: left; }
  .profile_block .left-side {
    width: 70%;
    float: left; }
  .profile_block .right-side {
    width: 30%;
    float: left; }

h2 {
  font-family: "Avenir95Black";
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
  color: #a7a8a9;
  padding: 0 49px 20px 0;
  display: inline-block;
  margin: 11px 0 20px 0px; }

h3 {
  font-family: "Avenir95Black";
  line-height: 22px;
  padding-bottom: 3px;
  margin-bottom: 15px;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  float: left; }

.red_border {
  border-bottom: solid 4px #e40003; }

.blue_border {
  border-bottom: solid 4px #31b8e4; }

.nblue_border {
  border-bottom: solid 4px #1d1e93; }

.red_border_long {
  width: 300px; }

.red_border_short {
  width: 85px; }

.blue_border_long {
  width: 115px; }

.nblue_border_long {
  width: 40px; }

.red {
  color: #e40003; }

.blue {
  color: #31b8e4; }

.nblue {
  color: #1d1e93; }

.white {
  color: #fff; }

.column {
  width: 50%;
  float: left; }

.foreword {
  margin-top: 160px;
  float: left; }

.profile_pic {
  margin: 15px 0 0 8px; }

.slim_block {
  width: 282px;
  margin-left: 115px;
  float: left;
  margin-top: -4px;
  background: url(../images/slim_object.png) no-repeat top; }
  .slim_block .slim_object {
    width: 100%;
    text-align: center;
    float: left; }
  .slim_block .milton_blk {
    margin-top: -9px;
    float: left;
    width: 100%;
    height: 138px;
    padding: 172px 0 93px 0;
    text-align: center;
    color: #fff;
    font-size: 83px;
    font-family: "Avenir95Black";
    letter-spacing: -5px; }
    .slim_block .milton_blk span {
      font-size: 31px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 30px;
      letter-spacing: 5px; }
  .slim_block h2 {
    font-size: 24px;
    color: #31b8e4;
    text-align: center;
    text-transform: uppercase;
    margin: 11px 0 0 0;
    width: 100%;
    padding: 0px; }

.gray_blue_block {
  width: 100%;
  float: left;
  background: url(../images/gray-blue.png) no-repeat left top;
  padding: 40px;
  position: relative; }
  .gray_blue_block .icon {
    padding: 40px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px; }
  .gray_blue_block .left_column {
    width: 50%;
    float: left;
    font-size: 24px;
    font-family: "Avenir95Black";
    color: #31b8e4;
    line-height: 28px;
    margin-top: 160px;
    padding-top: 20px;
    background: url(../images/wht_line.jpg) top center no-repeat;
    text-align: center; }
  .gray_blue_block .right_column {
    width: 45%;
    float: right;
    max-height: 413px; }
    .gray_blue_block .right_column ul {
      padding: 0px;
      margin: 0px; }
      .gray_blue_block .right_column ul li {
        list-style: none;
        width: 100%;
        float: left;
        display: inline-block;
        margin-bottom: 36px;
        color: #31b8e4;
        font-weight: normal;
        font-size: 16px; }
        .gray_blue_block .right_column ul li a {
          color: #fff;
          text-decoration: none; }
          .gray_blue_block .right_column ul li a:hover {
            text-decoration: underline; }

.partnership {
  width: 48%;
  padding-right: 2%; }
  .partnership .partnership_left_pic {
    width: 100%;
    float: left; }
  .partnership .partnership_left_content {
    width: 48%;
    float: left; }
    .partnership .partnership_left_content:last-child {
      float: right; }

.partnership_right_content {
  width: 100%;
  margin-top: 16px; }

.market_content {
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  float: left;
  margin-top: 20px; }

.market h2 {
  margin-bottom: 0px; }

/*# sourceMappingURL=style.css.map */
