@font-face {
  font-family: 'avenirlt35light';
  src: url("../fonts/avenirlt35light.eot");
  src: url("../fonts/avenirlt35light.eot") format("embedded-opentype"), url("../fonts/avenirlt35light.woff2") format("woff2"), url("../fonts/avenirlt35light.woff") format("woff"), url("../fonts/avenirlt35light.ttf") format("truetype"), url("../fonts/avenirlt35light.svg#avenirlt35light") format("svg"); }
@font-face {
  font-family: 'Avenir95Black';
  src: url("../fonts/Avenir95Black.eot");
  src: url("../fonts/Avenir95Black.eot") format("embedded-opentype"), url("../fonts/Avenir95Black.woff2") format("woff2"), url("../fonts/Avenir95Black.woff") format("woff"), url("../fonts/Avenir95Black.ttf") format("truetype"), url("../fonts/Avenir95Black.svg#Avenir95Black") format("svg"); }
@font-face {
  font-family: 'avenirltstdheavywebfont';
  src: url("../fonts/avenirltstdheavywebfont.eot");
  src: url("../fonts/avenirltstdheavywebfont.eot") format("embedded-opentype"), url("../fonts/avenirltstdheavywebfont.woff2") format("woff2"), url("../fonts/avenirltstdheavywebfont.woff") format("woff"), url("../fonts/avenirltstdheavywebfont.ttf") format("truetype"), url("../fonts/avenirltstdheavywebfont.svg#avenirltstdheavywebfont") format("svg"); }
@font-face {
  font-family: 'AvenirLTStdRoman';
  src: url("../fonts/AvenirLTStdRoman.eot");
  src: url("../fonts/AvenirLTStdRoman.eot") format("embedded-opentype"), url("../fonts/AvenirLTStdRoman.woff2") format("woff2"), url("../fonts/AvenirLTStdRoman.woff") format("woff"), url("../fonts/AvenirLTStdRoman.ttf") format("truetype"), url("../fonts/AvenirLTStdRoman.svg#AvenirLTStdRoman") format("svg"); }
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0px; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "AvenirLTStdRoman";
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #a7a8a9;
  -webkit-text-size-adjust: 100%; }

#wrapper {
  min-height: 100%;
  /*position:relative;*/
  background: #fff; }

section {
  width: 100%;
  height: auto;
  padding-bottom: 160px;
  position: relative;
  display: inline-block; }

#home {
  padding-bottom: 0px; }

.container {
  max-width: 1288px;
  margin: 0 auto; }

.banner {
  width: 100%;
  max-height: 683px;
  font-family: "Avenir95Black";
  position: relative;
  padding-bottom: 16%;
  text-align: center; }
  .banner .logo {
    display: inline-block;
    margin: 50px 0 50px 0; }
  .banner .banner_content {
    width: 61%;
    margin-left: 27%;
    text-align: left;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    /*margin-bottom:13.177%;
    padding-bottom:13.177%;*/ }
    .banner .banner_content .banner_title {
      font-size: 86px;
      line-height: 86px;
      margin-bottom: 10px;
      display: inline-block; }
    .banner .banner_content p {
      font-family: "AvenirLTStdRoman"; }
    .banner .banner_content a {
      text-decoration: underline;
      color: #fff; }

.banner {
  background-size: cover !important; }

.top_block {
  width: 344px;
  position: absolute;
  top: 0px;
  right: 0px; }
  .top_block .pdf-down {
    width: 82px;
    height: 82px;
    padding-top: 46px;
    background: url(../images/pdf_down_icon.png) center 5px no-repeat;
    font-size: 10px;
    font-family: "avenirltstdheavywebfont";
    text-transform: uppercase;
    float: right;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 12px;
    background-color: #a7a8a9;
    z-index: 100;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .top_block .pdf-down:hover {
      color: #e40003; }
  .top_block .menu_icon {
    width: 82px;
    height: 82px;
    padding: 57px 11px 11px 11px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    background: url(../images/menu_icon.png) center 12px no-repeat;
    background-color: #a7a8a9;
    float: right;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    z-index: 100;
    position: relative; }
  .top_block .dropblock {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none; }
    .top_block .dropblock .graymenubox {
      width: 100%;
      height: 96px;
      background-color: #a7a8a9;
      float: left; }
    .top_block .dropblock .nav {
      width: 100%;
      float: left;
      padding: 18px;
      background-color: #fff; }
      .top_block .dropblock .nav ul {
        padding: 0px;
        margin: 0px; }
        .top_block .dropblock .nav ul .out-link a {
          color: #31b8e4;
          -webkit-transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s; }
          .top_block .dropblock .nav ul .out-link a:hover {
            color: #a7a8a9; }
        .top_block .dropblock .nav ul li {
          width: 100%;
          line-height: 34px;
          font-size: 20px;
          font-family: "Avenir95Black";
          list-style: none;
          text-align: left; }
          .top_block .dropblock .nav ul li a {
            color: #a7a8a9;
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out 0s;
            -moz-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s; }
            .top_block .dropblock .nav ul li a:hover {
              color: #31b8e4; }
    .top_block .dropblock .nblue-box {
      width: 95%;
      height: 20px;
      background-color: #1d1e93;
      float: right; }

.down_arr {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -46px; }

.h_line {
  margin-top: 11px;
  padding-bottom: 22px;
  border-top: solid 1px #737373; }

.profile_block {
  width: 100%;
  padding-bottom: 20px;
  float: left;
  	/*.left-side{
  		width:70%;	
  		float:left;
  	}
  	.right-side {
  		width:30%;
  		float:left;
      } */ }

.hightlights {
  width: 100%;
  padding-bottom: 20px;
  float: left; }
  .hightlights .hightlights_block {
    width: 100%;
    float: left;
    margin-bottom: 58px; }
    .hightlights .hightlights_block .left-side {
      width: 70.3875%;
      float: left; }
    .hightlights .hightlights_block .right-side {
      width: 24.57%;
      float: right;
      margin-top: 193px; }
      .hightlights .hightlights_block .right-side p {
        margin: 0px; }
  .hightlights .text-content {
    width: 47.36%;
    float: left;
    margin-right: 30px; }

.sea_lock {
  width: 100%;
  float: left;
  margin-top: 43px; }
  .sea_lock .sea_lock_left {
    width: 24%;
    float: left;
    margin-top: 170px; }
  .sea_lock .sea_lock_right {
    width: 74%;
    float: right; }

h2 {
  font-family: "Avenir95Black";
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
  color: #a7a8a9;
  padding: 0 49px 20px 0;
  display: inline-block;
  margin: 11px 0 20px 0px; }

h3 {
  font-family: "Avenir95Black";
  line-height: 22px;
  padding-bottom: 3px;
  margin-bottom: 15px;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  float: left; }

h4 {
  font-family: "Avenir95Black";
  color: #1d1e93;
  font-size: 16px;
  margin: 0px;
  line-height: 24px;
  font-weight: normal; }

.red_border {
  border-bottom: solid 4px #e40003; }

.blue_border {
  border-bottom: solid 4px #31b8e4; }

.nblue_border {
  border-bottom: solid 4px #1d1e93; }

.red_border_long {
  width: 300px; }

.red_border_short {
  width: 85px; }

.blue_border_long {
  width: 115px; }

.nblue_border_long {
  width: 40px; }

.red {
  color: #e40003; }

.blue {
  color: #31b8e4; }

.nblue {
  color: #1d1e93; }

.white {
  color: #fff; }

strong {
  font-family: "Avenir95Black"; }

.column {
  width: 50%;
  float: left; }

.foreword {
  margin-top: 160px;
  float: left; }

.profile_pic {
  margin: 15px 0 0 8px; }

.slim_block {
  width: 100%;
  /*margin-left:115px;*/
  text-align: center;
  float: left;
  margin-top: -4px;
  /*background:url(../images/slim_object.png) no-repeat top;*/ }
  .slim_block .slim_object {
    width: 100%;
    text-align: center;
    float: left; }
  .slim_block .milton_blk {
    margin-top: -9px;
    float: left;
    width: 100%;
    height: 138px;
    padding: 172px 0 93px 0;
    text-align: center;
    color: #fff;
    font-size: 83px;
    font-family: "Avenir95Black";
    letter-spacing: -5px; }
    .slim_block .milton_blk span {
      font-size: 31px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 30px;
      letter-spacing: 5px; }
  .slim_block h2 {
    font-size: 24px;
    color: #31b8e4;
    text-align: center;
    text-transform: uppercase;
    margin: 11px 0 0 0;
    width: 100%;
    padding: 0px; }

.gray_blue_block {
  width: 100%;
  float: left;
  background: url(../images/gray-blue.png) no-repeat left top;
  padding: 40px;
  position: relative; }
  .gray_blue_block .icon {
    padding: 0 26px 22px 0;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px; }
  .gray_blue_block .left_column {
    width: 50%;
    float: left;
    font-size: 24px;
    font-family: "Avenir95Black";
    color: #31b8e4;
    line-height: 28px;
    margin-top: 160px;
    padding-top: 20px;
    background: url(../images/wht_line.jpg) top center no-repeat;
    text-align: center; }
  .gray_blue_block .right_column {
    width: 45%;
    float: right;
    max-height: 413px; }
    .gray_blue_block .right_column ul {
      padding: 0px;
      margin: 0px; }
      .gray_blue_block .right_column ul li {
        list-style: none;
        width: 100%;
        float: left;
        display: inline-block;
        margin-bottom: 36px;
        color: #31b8e4;
        font-weight: normal;
        font-size: 16px; }
        .gray_blue_block .right_column ul li a {
          color: #fff;
          text-decoration: none; }
          .gray_blue_block .right_column ul li a:hover {
            text-decoration: underline; }

.partnership {
  width: 48%;
  padding-right: 2%; }
  .partnership .partnership_left_pic {
    width: 100%;
    float: left; }
  .partnership .partnership_left_content {
    width: 48%;
    float: left;
    margin-top: 120px; }
    .partnership .partnership_left_content:last-child {
      float: right; }

.partnership_right_content {
  width: 48%;
  float: left;
  margin-top: 95px; }
  .partnership_right_content:last-child {
    float: right; }

.market_content {
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  float: left;
  margin: 20px 0 37px 0; }

.market h2 {
  margin-bottom: 0px; }

.coal_block {
  width: 69.65%;
  float: left;
  margin: 270px 0 32px 164px; }
  .coal_block .coal_content {
    width: 29%;
    float: left;
    margin: 107px 20px 0 15px; }
  .coal_block .coal_pic {
    float: right; }

.chemical_block {
  width: 100%;
  float: left;
  margin-top: 16px; }
  .chemical_block .chemical_left {
    width: 48.6%;
    float: left; }
    .chemical_block .chemical_left .chemical_pic {
      width: 78.98%;
      float: left;
      margin: 139px 0 18px 27px; }
    .chemical_block .chemical_left .chemical_pic_content {
      width: 78.98%;
      float: left;
      margin-left: 27px; }
    .chemical_block .chemical_left .biomass {
      width: 100%;
      float: left;
      padding: 20px 20px 70px 20px;
      margin-top: 70px;
      background-color: rgba(227, 227, 227, 0.6); }
    .chemical_block .chemical_left .agribulk {
      width: 56.36%;
      float: right;
      color: #fff;
      padding: 20px 15px 15px 15px;
      margin: -6px -6px 0 0;
      z-index: 100;
      position: relative;
      background-color: rgba(100, 100, 101, 0.6); }
  .chemical_block .chemical_right {
    width: 51.39%;
    float: right; }
    .chemical_block .chemical_right .cargo_content {
      width: 50%;
      float: right;
      padding: 20px;
      background-color: rgba(227, 227, 227, 0.6); }
    .chemical_block .chemical_right .dutch_network {
      width: 100%;
      padding: 20px 20px 40px 20px;
      color: #fff;
      float: left;
      margin: -6px -10px 0 0;
      z-index: 100;
      position: relative;
      background-color: rgba(100, 100, 101, 0.6); }
    .chemical_block .chemical_right .mineral {
      width: 98%;
      padding: 20px 20px 40px 20px;
      color: #fff;
      float: left;
      z-index: 100;
      position: relative;
      margin: -4px 0px 0 -4px;
      background-color: rgba(100, 100, 101, 0.6); }
    .chemical_block .chemical_right .biofuel {
      width: 52%;
      float: left;
      margin: -12px 0 0 -8px;
      background-color: rgba(100, 100, 101, 0.6);
      color: #fff;
      z-index: 100;
      position: relative;
      padding: 20px 20px 30px 20px; }
    .chemical_block .chemical_right .vessels {
      width: 100%;
      padding: 20px;
      float: left;
      margin-top: -6px;
      background-color: rgba(227, 227, 227, 0.6); }
      .chemical_block .chemical_right .vessels .vessels_pic {
        width: 100%;
        text-align: center;
        margin-top: 20px; }

.gasoline {
  width: 26.31%;
  float: left;
  padding: 20px 20px 70px 20px;
  margin: 0 0 0 -10px;
  background-color: rgba(227, 227, 227, 0.6); }

.economic {
  width: 51.39%;
  float: left;
  color: #fff;
  padding: 20px 20px 30px 20px;
  margin-left: -5px;
  z-index: 100;
  position: relative;
  background-color: rgba(100, 100, 101, 0.6); }

.zeela {
  width: 52%;
  float: left;
  padding: 20px;
  margin: -10px 0 0 -16px;
  background-color: rgba(227, 227, 227, 0.6); }
  .zeela .zeelpic {
    width: 100%;
    text-align: center; }
  .zeela p {
    padding-right: 40px; }

.importport {
  width: 27%;
  float: left;
  padding: 20px 20px 26px 20px; }

.bioenergy {
  width: 52%;
  float: left;
  margin-left: -11px;
  padding: 25px 25px 40px 25px;
  background: rgba(100, 100, 101, 0.6);
  color: #fff; }

.shorepower {
  width: 52.32%;
  float: left;
  padding: 20px 0 10px 20px;
  margin: -4px 0 0 -4px;
  background: rgba(100, 100, 101, 0.6);
  color: #fff; }
  .shorepower .rt_pic {
    float: right;
    margin-left: 20px; }
