@font-face {
  font-family: 'avenirlt35light';
  src: url("../fonts/avenirlt35light.eot");
  src: url("../fonts/avenirlt35light.eot") format("embedded-opentype"), url("../fonts/avenirlt35light.woff2") format("woff2"), url("../fonts/avenirlt35light.woff") format("woff"), url("../fonts/avenirlt35light.ttf") format("truetype"), url("../fonts/avenirlt35light.svg#avenirlt35light") format("svg"); }
@font-face {
  font-family: 'Avenir95Black';
  src: url("../fonts/Avenir95Black.eot");
  src: url("../fonts/Avenir95Black.eot") format("embedded-opentype"), url("../fonts/Avenir95Black.woff2") format("woff2"), url("../fonts/Avenir95Black.woff") format("woff"), url("../fonts/Avenir95Black.ttf") format("truetype"), url("../fonts/Avenir95Black.svg#Avenir95Black") format("svg"); }
@font-face {
  font-family: 'avenirltstdheavywebfont';
  src: url("../fonts/avenirltstdheavywebfont.eot");
  src: url("../fonts/avenirltstdheavywebfont.eot") format("embedded-opentype"), url("../fonts/avenirltstdheavywebfont.woff2") format("woff2"), url("../fonts/avenirltstdheavywebfont.woff") format("woff"), url("../fonts/avenirltstdheavywebfont.ttf") format("truetype"), url("../fonts/avenirltstdheavywebfont.svg#avenirltstdheavywebfont") format("svg"); }
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0px; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "avenirlt35light";
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #a7a8a9;
  -webkit-text-size-adjust: 100%; }

#wrapper {
  min-height: 100%;
  position: relative;
  background: #fff; }

.container {
  max-width: 1288px;
  margin: 0 auto; }

.banner {
  width: 100%;
  max-height: 683px;
  font-family: "Avenir95Black";
  position: relative; }
  .banner .banner_content {
    width: 46.1876%;
    margin: auto;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13.177%;
    padding-bottom: 13.177%; }
    .banner .banner_content .logo {
      display: inline-block;
      margin: 9.8% 0 10% 0; }
    .banner .banner_content .banner_title {
      font-size: 86px;
      line-height: 86px;
      display: inline-block; }

.top_block {
  width: 344px;
  position: absolute;
  top: 0px;
  right: 0px; }
  .top_block .pdf-down {
    width: 83px;
    height: 96px;
    padding-top: 46px;
    background: url(../images/pdf_down_icon.png) center 5px no-repeat;
    font-size: 10px;
    font-family: "avenirltstdheavywebfont";
    text-transform: uppercase;
    float: right;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 12px;
    background-color: #a7a8a9;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .top_block .pdf-down:hover {
      color: #e40003; }
  .top_block .menu_icon {
    width: 83px;
    height: 96px;
    padding: 57px 11px 11px 11px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    background: url(../images/menu_icon.png) center 12px no-repeat;
    background-color: #a7a8a9;
    float: right;
    margin-right: 19px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right; }
  .top_block .dropbox {
    width: 100%;
    position: absolute;
    top: 96px;
    left: 0px;
    display: none; }
    .top_block .dropbox .nav {
      width: 100%;
      float: left;
      padding: 23px 18px;
      background-color: #fff; }
